.container-fluid
  .container.logged-container
    .row
      // left column
      .col-md-3
        .cont-avatar
          .avatar
            img(ng-src="{{user.picture}}")
      // edit form column
      .col-md-9.personal-info
        h2 Luis Ramos Illanes
        .row-datos
          .col-datos
            p Edad
          .col-datos
            p 34
        .row-datos
          .col-datos
            p Institución
          .col-datos
            p Clinica del Dr Guti
          
          
        .item.modulo-history
          .collapse-detalle
            p Guía Actual
            h3 Artritis Psoriasica
            h4 Introducción
            .cont-progress
              span 60%
              .progress-porcent(style="width:100%")
              
          .info-history
            .col
              span Completado
              span.porcent 3
              small Modulos
            .col
              span Reitentos
              span.porcent 4
              small Intentos
            .col
              span Tiempo
              span.porcent 1
              small Semana
        h2 Historial
        .item.modulo-history.modulo-history-complete
          .collapse-detalle
            h3 Artritis Psoriasica
            h4 Introducción
          .info-history
            .col
              span Completado
              span.porcent 4
              small Modulos
            .col
              span Reitentos
              span.porcent 5
              small Intentos
            .col
              span Tiempo
              span.porcent 2
              small Semana
        .item.modulo-history.modulo-history-complete
          .collapse-detalle
            h3 Artritis Psoriasica
            h4 Introducción
          .info-history
            .col
              span Completado
              span.porcent 4
              small Modulos
            .col
              span Reitentos
              span.porcent 5
              small Intentos
            .col
              span Tiempo
              span.porcent 2
              small Semana
          
          
      
