.container-fluid
  .container.logged-container
    h2.titulo Mis Pacientes
    .row
      .col-xs-12
        table.table-patients.table-responsive
          thead
            tr
              th.col-xs-1
              th.col-xs-2 Nombre
              th.col-xs-2 Guía Actual
              th.col-xs-2 Institución
              th.col-xs-1
          tbody
            tr(ng-repeat-start='u in patients.users track by $index', ng-click='patients.showDetail(u.id)', ng-class-odd="'odd'")
              td.td-avatar.col-xs-1
                .cont-avatar.cont-avatar-table
                  .avatar
                    img(title='{{u.user}}', ng-src='https://randomuser.me/api/portraits/men/{{$index + ".jpg"}}')
              td.col-xs-2.cap {{u.nombre}}
              td.col-xs-2.cap Resfrio Introducción
              td.col-xs-2.strong Clinica del Dr Guti
              td.col-xs-1
                a(href='')
                  i.ion-plus
            tr.tr-info(ng-repeat-end='', ng-show='patients.active === u.id', ng-class-odd="'odd'")
              td
              td(colspan='4')
                .row
                  .col-xs-8
                    .item.modulo-history
                      .collapse-detalle
                        //i.icon-collapse(ng-class="{'ion-chevron-up': active, 'ion-chevron-down': !active}")
                        p Guía Actual
                        h3 Artritis Psoriasica
                        h4 Introducción
                        .cont-progress
                          span 60%
                          .progress-porcent(style="width:60%")
                          
                      .info-history
                        .col
                          span Completado
                          span.porcent 3
                          small Modulos
                        .col
                          span Reitentos
                          span.porcent 4
                          small Intentos
                        .col
                          span Tiempo
                          span.porcent 1
                          small Semana                    
      // /row
      .row
        hr
    // /container
