.container-fluid
  .container.logged-container
    .row
      // left column
      //.col-md-3
        .cont-avatar
          .avatar(ng-click="user.showModal()")
            img(ng-src="{{user.picture}}")
      // edit form column
      .col-md-9.personal-info
        //.alert.alert-info.alert-dismissable
          a.panel-close.close(data-dismiss='alert') ×
          i.fa.fa-coffee
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h3 Personal info
        form.form-horizontal(role='form')
          .form-group
            label.col-lg-3.control-label Nombres:
            .col-lg-8
              input.form-control(type='text', value='Jane')
          .form-group
            label.col-lg-3.control-label Apellidos:
            .col-lg-8
              input.form-control(type='text', value='Bishop')
          .form-group
            label.col-lg-3.control-label Edad:
            .col-lg-8
              input.form-control(type='text', value='')
          .form-group
            label.col-lg-3.control-label Email:
            .col-lg-8
              input.form-control(type='text', value='nombre@mail.com')
          .form-group
            label.col-lg-3.control-label Intereses:
            .col-lg-8
              .ui-select
                select#user_time_zone.form-control
                  option(value='artritis',selected='selected') Artritis Psoriasica
                  option(value='artritis') Artritis Psoriasica
                  option(value='artritis') Artritis Psoriasica
          .form-group
            label.col-lg-3.control-label Institución:
            .col-lg-8
              .ui-select
                select#user_time_zone.form-control
                  option(value='lascondes',selected='selected') Clinica las Condes
                  option(value='soterodelrio') Hospital Sotero del Rio
          .form-group
            label.col-lg-3.control-label Username:
            .col-lg-8
              input.form-control(type='text', value='janeuser')
          .form-group
            label.col-lg-3.control-label Password:
            .col-lg-8
              input.form-control(type='password', value='11111122333')
          .form-group
            label.col-lg-3.control-label Confirmar password:
            .col-lg-8
              input.form-control(type='password', value='11111122333')
          .form-group
            label.col-lg-3.control-label
            .col-lg-8
              input.btn.btn-primary(type='button', value='Guardar Cambios')
              span
              input.btn.btn-warning(type='reset', value='Cancel')
  hr
