.container-fluid
  .container.logged-container
    .row
      .col-xs-12
        .mensaje.info
          .icono.ion-sad-outline
          p Actualmente no tiene ningún modulo configurado para visualizarse. 
            | Para configurar un modulo, seleccione uno de los enlaces disponibles.
    .row
      .col-xs-12
        .busqueda
          form.form
            .input-group.text-center
              input.form-control.input-lg(type='text', placeholder='Buscar Enfermedad')
              span.input-group-btn
                button.btn.btn-lg.btn-primary(type='button') Buscar
    .row
      .col-sm-4.col-xs-6
        .panel.panel-default
          .panel-thumbnail.video
            img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
          .panel-body
            h3 Artritis Psoriasica
            h4 Introducción
            .modulo-info
              | Estado:   
              span.estado.ok Completado
            .fecha-info
              i.icon.ion-android-calendar
              .fecha
                span 
                  strong Iniciado: 
                  | 24/06/2016
                span 
                  strong Finalizado:  
                  | 28/06/2016
            .progreso
              .mod.ok
              .mod.ok
              .mod.ok
              .mod
            p
              button.btn.btn-primary.btn-block(type='button') Ver Modulo
      .col-sm-4.col-xs-6
        .panel.panel-default
          .panel-thumbnail.video
            img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
          .panel-body
            h3 Artritis Psoriasica
            h4 Introducción
            .modulo-info
              | Estado:   
              span.estado Incompleto
            .fecha-info
              i.icon.ion-android-calendar
              .fecha
                span 
                  strong Iniciado: 
                  | 24/06/2016
                span 
                  strong Finalizado:  
                  | -
            .progreso
              .mod
              .mod
              .mod
              .mod
            p
              button.btn.btn-primary.btn-block(type='button') Ver Modulo
      .col-sm-4.col-xs-6
        .panel.panel-default
          .panel-thumbnail.video
            img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
          .panel-body
            h3 Artritis Psoriasica
            h4 Introducción
            .modulo-info
              | Estado:   
              span.estado.ok Completado
            .fecha-info
              i.icon.ion-android-calendar
              .fecha
                span 
                  strong Iniciado: 
                  | 24/06/2016
                span 
                  strong Finalizado:  
                  | 28/06/2016
            .progreso
              .mod.ok
              .mod.ok
              .mod.ok
              .mod
            p
              button.btn.btn-primary.btn-block(type='button') Ver Modulo
    .row
      .col-md-8.col-xs-12
        .panel.panel-default
          .panel-thumbnail.video
            img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
          .panel-body
            h3 Artritis Psoriasica
            h4 Introducción
            .modulo-info
              | Estado:   
              span.estado.ok Completado
            .fecha-info
              i.icon.ion-android-calendar
              .fecha
                span 
                  strong Iniciado: 
                  | 24/06/2016
                span 
                  strong Finalizado:  
                  | 28/06/2016
            .progreso
              .mod.ok
              .mod.ok
              .mod.ok
              .mod
            p
              button.btn.btn-primary.btn-block(type='button') Ver Modulo
     
