.container-fluid.container-nav
  nav.navbar.navbar-default.navbar-static-top
    .container
      a.logo-content(href='./')
        h1.logo-app EduMed
      .navbar-header
        ul.nav.navbar-nav
          //li
          //  a.btn-inicio(href='javascript:;') Inicio
          li
            a.btn-login(href='#/login') Login
      //.search-bar
        input(type='text', placeholder='Explora una enfermedad...')
        a(href='javascript:;')
          i.icon-search
        
.container-fluid.banner
  .container
    .row
      .col-md-12
        .banner-content
          h2 Bienvenido
          h3 Aprende todo sobre tu condición médica
          button.btn.btn-default.btn-big-block.yellow(type='button') Comienza ya!
.container-fluid.bg-home-gray
  .row.bg-home-white
    .col-xs-12
      h2.title-home Acerca de EduMed
  .container
    .row
      .col-md-4
        .info-block
          .icon-big-home(du-parallax,custom="home.fadeIn" )
            i.icono.icon-ampolleta
          h3 Aprende
          p
            | A travez de nuesras guías interactivas aprende acerca de tu condición y como mantener un estado saludable de salud.
      .col-md-4
        .info-block
          .icon-big-home(du-parallax,custom="home.fadeIn" )
            i.icono.icon-chat
          h3 Comunícate
          p
            | Comunícate con otros pacientes como tú, ayuda a resolver sus dudas y aclarar las tuyas. También comunícate directamente con tu doctor.
      .col-md-4
        .info-block
          .icon-big-home(du-parallax,custom="home.fadeIn" )
            i.icono.icon-ficha
          h3 Organízate
          p
            | A travéz de las herramientas como el calendario y la ficha clínica organiza tu tratameinto o procedimiento quirúrgico.
.container-fluid.bg-home-white
  .row.bg-home-white
    .col-md-12
      h2.title-home Suscripción
  .container
    .row
      .col-md-6.border-right
        .conte-steps.conte-steps-left
          .conte-step
            .step-img
              .img
                img(src='assets/img/step/01.jpg')
            .step-txt
              h3 Mediante su Doctor 
              p Su doctor le falicitara un código y podra acceder al contenido gratuitamente.
          .hr-arrow
          .conte-step.conte-step-right
            .step-txt
              p Al completar el formulario de suscripción digite el código.
            .step-img
              .img
                img(src='assets/img/step/02.jpg')
          .hr-arrow.arrow-left
          .conte-step
            .step-img
              .img
                img(src='assets/img/step/03.jpg')
            .step-txt
              p Ingrese sus datos y comience a explorar el contenido interactivo de su interés
      .col-md-6
        .conte-steps.conte-steps-right
          .conte-step.conte-step-right
            .step-img
              .img
                img(src='assets/img/step/01.jpg')
            .step-txt
              h3 Mediante su Doctor 
              p Su doctor le falicitara un código y podra acceder al contenido gratuitamente.
          .hr-arrow.arrow-left
          .conte-step
            .step-txt
              p Al completar el formulario de suscripción digite el código.
            .step-img
              .img
                img(src='assets/img/step/02.jpg')
          .hr-arrow
          .conte-step.conte-step-right
            .step-img
              .img
                img(src='assets/img/step/03.jpg')
            .step-txt
              p Ingrese sus datos y comience a explorar el contenido interactivo de su interés
.container-fluid.banner-foot
  img(src='assets/img/back/back-04.jpg',du-parallax, y="home.background")
  .container.container-banner-foot
    .row
      .col-md-12
        .banner-content
          .logo-app
          h3
            | Tú 
            span Salud
            |  Cuenta
          h4 Aprende a cuidar de ella
.container-fluid.bg-home-gray
  .row.bg-home-white
    .col-xs-12
      h2.title-home Nuestro contenido:
  .container
    .row
      .col-md-12
        .cont-carousel
          .slick-container
            slick(infinite='true', slides-to-show='4', slides-to-scroll='1')
              .slick-item(ng-repeat='image in home.images')
                img(ng-src='{{image.url}}')
  



.container-fluid.container-footer
  .container
    .col-sm-8
      .row.form-group
        .col-xs-3
          input#firstName.form-control(type='text', name='firstName', placeholder='Nombre', required='')
        .col-xs-3
          input#middleName.form-control(type='text', name='firstName', placeholder='Middle Name', required='')
        .col-xs-4
          input#lastName.form-control(type='text', name='lastName', placeholder='Last Name', required='')
      .row.form-group
        .col-xs-5
          input.form-control(type='email', name='email', placeholder='Email', required='')
        .col-xs-5
          input.form-control(type='email', name='phone', placeholder='Phone', required='')
      .row.form-group
        .col-xs-10
          input.form-control(type='homepage', placeholder='Website URL', required='')
      .row.form-group
        .col-xs-10
          button.btn.btn-default.pull-right Contact Us
    .col-sm-3.pull-right
      address
        strong Iatek, LLC.
        br
        |         795 Folsom Ave, Suite 600
        br
        |         Newport, RI 94107
        br
        |         P: (123) 456-7890
      address
        strong Email Us
        br
        a(href='mailto:#') first.last@example.com
  // /row
  .container
    .col-sm-8.col-sm-offset-2.text-center
      h2 Beautiful Bootstrap Templates
      hr
      h4
        | We love templates. We love Bootstrap.
      p
        | Get more free templates like this at the 
        a(href='http://bootply.com') Bootstrap Playground
        | , Bootply.
      hr
      ul.list-inline.center-block
        li
          a(href='http://facebook.com/bootply')
            img(src='/assets/example/soc_fb.png')
        li
          a(href='http://twitter.com/bootply')
            img(src='/assets/example/soc_tw.png')
        li
          a(href='http://google.com/+bootply')
            img(src='/assets/example/soc_gplus.png')
        li
          a(href='http://pinterest.com/in1')
            img(src='/assets/example/soc_pin.png')
    // /col
  // /container
  // /wrap
.container-fluid
  #footer
    .container
      .semilla-corfo
      .corfo
