.avatar {
  width: 200px;
  height: 200px;
  //overflow: hidden;
  border-radius: 50%;
  background: url('../assets/img/icon/user.svg');
  margin: 0 auto;
  //border:3px solid #fff;
  position: relative;
  &:before {
    content: "\f2d3";
    display: none;
    font-family: "Ionicons";
    font-size: 20px;
    position: absolute;
    color:#fff;
    bottom: -3px;
    right:0;
  }
  &:after {
    background: url("../assets/img/icon/spinner.svg");
    display: block;
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    /* margin-left: -65px; */
    /* margin-top: -65px; */
    background-position: center center;
    background-size: 260px;
    overflow: hidden;
    border-radius: 50%;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}