.container-fluid
  .container.logged-container
    .row
      .col-md-8.col-xs-12
        h2.titulo Aprender
        .panel.panel-default
          .panel-thumbnail.video
            img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
          .panel-body
            h3 Artritis Psoriasica
            h4 Introducci贸n
            .modulo-info
              | Estado:   
              span.estado.ok Completado
            .fecha-info
              i.icon.ion-android-calendar
              .fecha
                span 
                  strong Iniciado: 
                  | 24/06/2016
                span 
                  strong Finalizado:  
                  | 28/06/2016
            .progreso
              .mod.ok
              .mod.ok
              .mod.ok
              .mod
            p
              button.btn.btn-primary.btn-block(type='button') Ver Modulo
     
      .col-md-4.col-xs-12
        h2.titulo Guias Relacionadas
        .row
          .col-xs-12
            .panel.panel-default.no-video
              .panel-thumbnail.video
                img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
              .panel-body
                h3 Artritis Psoriasica
                h4 Introducci贸n
                .modulo-info
                  | Estado:   
                  span.estado.ok Completado
                .fecha-info
                  i.icon.ion-android-calendar
                  .fecha
                    span 
                      strong Iniciado: 
                      | 24/06/2016
                    span 
                      strong Finalizado:  
                      | 28/06/2016
                .progreso
                  .mod.ok
                  .mod.ok
                  .mod.ok
                  .mod
                p
                  button.btn.btn-primary.btn-block(type='button') Ver Modulo
          .col-xs-12
            .panel.panel-default.no-video
              .panel-thumbnail.video
                img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
              .panel-body
                h3 Artritis Psoriasica
                h4 Introducci贸n
                .modulo-info
                  | Estado:   
                  span.estado Incompleto
                .fecha-info
                  i.icon.ion-android-calendar
                  .fecha
                    span 
                      strong Iniciado: 
                      | 24/06/2016
                    span 
                      strong Finalizado:  
                      | -
                .progreso
                  .mod
                  .mod
                  .mod
                  .mod
                p
                  button.btn.btn-primary.btn-block(type='button') Ver Modulo
          .col-xs-12
            .panel.panel-default.no-video
              .panel-thumbnail.video
                img.img-responsive(src='assets/img/video/La_artritis_psoriasica.jpg')
              .panel-body
                h3 Artritis Psoriasica
                h4 Introducci贸n
                .modulo-info
                  | Estado:   
                  span.estado.ok Completado
                .fecha-info
                  i.icon.ion-android-calendar
                  .fecha
                    span 
                      strong Iniciado: 
                      | 24/06/2016
                    span 
                      strong Finalizado:  
                      | 28/06/2016
                .progreso
                  .mod.ok
                  .mod.ok
                  .mod.ok
                  .mod
                p
                  button.btn.btn-primary.btn-block(type='button') Ver Modulo
        
