.container-fluid
  .container.logged-container
    .row
      .col-md-8.col-xs-12(ng-show="itemNuevo = learn.guide")
        h2.titulo Aprender
        .panel.panel-default
          .panel-thumbnail.video
            img.img-responsive(ng-src="{{ learn.getImage(itemNuevo)}}")
          .panel-body
            h3 {{itemNuevo.titulo}}
            h4  {{itemNuevo.descripcion}}
            .modulo-info
              | Estado:
              span.estado(ng-bind="learn.isComplete(itemNuevo)? 'completo' : 'incompleto'",
                        ng-class="{ok: learn.isComplete(itemNuevo)}")
            //.fecha-info
              i.icon.ion-android-calendar
              .fecha
                span
                  strong Iniciado:
                  | {{itemNuevo.fechaCreacion | date:'dd/MM/yyyy'}}
                span
                 // strong Finalizado:

            .progreso
              .mod(ng-repeat="mod in itemNuevo.avance.modulos", ng-class="{ok: mod.completado }")

            p
              button.btn.btn-primary.btn-block(type='button', ng-click="learn.toContent(itemNuevo.guide.idGuia)") Ver Modulo

      .col-md-4.col-xs-12
        h2.titulo Guias Relacionadas
        .row
          .col-xs-12(ng-repeat="rg in learn.relatedGuides")
            .panel.panel-default.no-video
              .panel-thumbnail.video
              img.img-responsive(ng-src="{{learn.getImage(rg)}}")
              .panel-body
                h3 {{rg.titulo}}
                h4 {{rg.descripcion}}
                .modulo-info
                  | Estado:
                  span.estado(ng-bind="learn.isComplete(rg)? 'completo' : 'incompleto'",
                        ng-class="{ok: learn.isComplete(rg)}")
                //.fecha-info
                  i.icon.ion-android-calendar
                  .fecha
                    span
                      strong Iniciado:
                      | {{rg.fechaCreacion | date:'dd/MM/yyyy'}}
                    span
                     // strong Finalizado:

                .progreso
                  .mod(ng-repeat="mod in rg.avance.modulos", ng-class="{ok: mod.completado }")

                p
                  button.btn.btn-primary.btn-block(type='button') Ver Modulo


