.container-fluid
  .container.logged-container
    .row
      .col-md-8.col-xs-12.col-md-offset-2
        h2.titulo Aprender
        .content-video
          videogular(vg-player-ready='learn.onPlayerReady($API)', ng-show='!learn.testRun', vg-theme='learn.config.theme.url', vg-complete='learn.onCompleteVideo()')
            vg-media(vg-src='learn.config.sources', vg-native-controls='false')
            vg-overlay-play
            vg-poster(vg-url='learn.config.plugins.poster')
            vg-controls
              vg-play-pause-button
              vg-time-display {{ currentTime | date:'mm:ss':'+0000' }}
              vg-scrub-bar
                vg-scrub-bar-current-time
              vg-time-display {{ timeLeft | date:'mm:ss':'+0000' }}
              vg-time-display {{ totalTime | date:'mm:ss':'+0000' }}
              vg-volume
                vg-mute-button
                vg-volume-bar
              vg-fullscreen-button
            vg-buffering
     
      
    .row
      .col-md-12
        ul.module-steps
          li.module-step.step-ok
            span Modulo uno
          li.module-step.active
            span Modulo dos
          li.module-step
            span Modulo tres
          li.module-step
            span Modulo cuatro
          li.module-step
            span Modulo cinco
    .row
      .col-xs-12(ng-show='!learn.testRun')
        .tcenter
          button.btn.btn-lg.btn-primary(type='buttom', ng-click='learn.starTest()') Comenzar Test
    .row
      .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1(ng-show='learn.testRun')
        .cuestionario
          form(action='')
            h3 Lorem ipsum dolor sit amet?
            .question
              .radio
                label
                  input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
              .radio
                label
                  input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
              .radio.disabled
                label
                  input#optionsRadios3(type='radio', name='optionsRadios', value='option3', disabled='')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
            h3 Lorem ipsum dolor sit amet?
            .question
              .radio
                label
                  input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
              .radio
                label
                  input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
              .radio.disabled
                label
                  input#optionsRadios3(type='radio', name='optionsRadios', value='option3', disabled='')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
            h3 Lorem ipsum dolor sit amet?
            .question
              .radio
                label
                  input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
              .radio
                label
                  input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
              .radio.disabled
                label
                  input#optionsRadios3(type='radio', name='optionsRadios', value='option3', disabled='')
                  |                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deleniti.
          .tcenter
            button.btn.btn-lg.btn-primary(type='buttom', ng-click='learn.okTest()') Finalizar Test

        
