.navbar.navbar-static-top
.container
a.navbar-brand(href='#') Bootstrap 3 RC1
ul.nav.navbar-nav
    li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
        | CSS 
        span.caret
    ul.dropdown-menu
        li
        a(href='#headings') Headings
        li
        a(href='#content-formatting') Content
        li
        a(href='#tables') Tables
        li
        a(href='#forms') Forms
        li
        a(href='#images') Images
    li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
        | Components 
        span.caret
    ul.dropdown-menu
        li
        a(href='#dropdowns') Dropdowns
        li
        a(href='#input-groups') Input Groups
        li
        a(href='#navs') Navs
        li
        a(href='#navbar') Navbar
        li
        a(href='#pagination') Pagination
        li
        a(href='#alerts') Alerts
        li
        a(href='#labels') Labels
        li
        a(href='#progress') Progress
        li
        a(href='#media-object') Media Object
        li
        a(href='#list-groups') List Groups
        li
        a(href='#panels') Panels
        li
        a(href='#wells') Wells
    li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
        | Source 
        span.caret
    ul.dropdown-menu
        li
        a(href='../dist/css/bootstrap.css') bootstrap.css
        li
        a(href='../dist/css/bootstrap.min.css') bootstrap.min.css
        li.divider
        li
        a(href='../less/variables.less') variables.less
        li
        a(href='../less/theme.less') theme.less
p.navbar-text.pull-right
    | Bootstrap 3 example 
    a(href='http://www.bootstraptor.com/bootstrap3', target='_blank') Bootstraptor.com
.container
.jumbotron
h1 Bootstrap 3 elements page example template
p A quick preview of everything Bootstrap has to offer.
p
    | Bootstrap 3.0. themes and HTML templates get on 
    a(href='http://www.bootstraptor.com') Bootstraptor.com
    | !
p
    a.btn.btn-danger.btn-large(href='http://www.bootstraptor.com/') GET Bootstrap 3.0. NOW!
.row
.col-lg-6
    #headings.panel.panel-default
    .panel-heading
        | Headings
    h1.page-header
        | Page Header 
        small With Small Text
    h1 This is an h1 heading
    h2 This is an h2 heading
    h3 This is an h3 heading
    h4 This is an h4 heading
    h5 This is an h5 heading
    h6 This is an h6 heading
    #tables.panel.panel-default
    .panel-heading
        | Tables
    table.table.table-hover
        thead
        tr
            th #
            th First Name
            th Tables
        tbody
        tr
            td 1
            td Michael
            td Are formatted like this
        tr
            td 2
            td Lucille
            td Do you like them?
        tr.success
            td 3
            td Success
            td
        tr.danger
            td 4
            td Danger
            td
        tr.warning
            td 5
            td Warning
            td
        tr.active
            td 6
            td Active
            td
    table.table.table-striped.table-bordered.table-condensed
        thead
        tr
            th #
            th First Name
            th Tables
        tbody
        tr
            td 1
            td Michael
            td This one is bordered and condensed
        tr
            td 2
            td Lucille
            td Do you still like it?
.col-lg-6
    #content-formatting.panel.panel-default
    .panel-heading
        | Content Formatting
    p.lead This is a lead paragraph.
    p
        | This is an 
        b ordinary paragraph
        |  that is 
        i long enough
        |  to wrap to 
        u multiple lines
        |  so that you can see how the line spacing looks.
    p.text-muted Muted color paragraph.
    p.text-warning Warning color paragraph.
    p.text-danger Danger color paragraph.
    p.text-info Info color paragraph.
    p.text-success Success color paragraph.
    p
        small
        | This is text in a 
        code small
        |  wrapper. 
        abbr(title='No Big Deal') NBD
        | , right?
    hr
    .row
        address.col-6
        strong Twitter, Inc.
        br
        |                 795 Folsom Ave, Suite 600
        br
        |                 San Francisco, CA 94107
        br
        abbr(title='Phone') P:
        |  (123) 456-7890
        address.col-6
        strong Full Name
        br
        a(href='mailto:#') first.last@example.com
    hr
    blockquote
        | Here's what a blockquote looks like in Bootstrap. 
        small
        | Use 
        code small
        |  to identify the source.
    hr
    .row
        .col-6
        ul
            li Normal Unordered List
            li
            | Can Also Work
            ul
                li With Nested Children
            li Adds Bullets to Page
        .col-6
        ol
            li Normal Ordered List
            li
            | Can Also Work
            ol
                li With Nested Children
            li Adds Bullets to Page
    hr
    pre.
        \nfunction preFormatting() {  // looks like this;  var something = somethingElse;  return true;}              
#forms.panel.panel-default
.panel-heading
    | Forms
form
    fieldset
    legend Legend
    .form-group
        label(for='exampleInputEmail') Email address
        input#exampleInputEmail.form-control(type='text', placeholder='Enter email')
    .form-group
        label(for='exampleInputPassword') Password
        input#exampleInputPassword.form-control(type='password', placeholder='Password')
    .form-group
        label(for='exampleInputFile') File input
        input#exampleInputFile(type='file')
        p.help-block Example block-level help text here.
    .checkbox
        label
        input(type='checkbox')
        | Check me out
    button.btn.btn-default(type='submit') Submit
hr
form.form-inline
    input.form-control(type='text', placeholder='Email', style='width: 200px;')
    input.form-control(type='password', placeholder='Password', style='width: 200px;')
    .checkbox
    label
        input(type='checkbox')
        | Remember me
    button.btn.btn-default(type='submit') Sign in
hr
form.form-horizontal
    .form-group
    label.col-lg-2.control-label(for='inputEmail') Email
    .col-lg-10
        input#inputEmail.form-control(type='text', placeholder='Email')
    .form-group.has-warning
    label.col-lg-2.control-label(for='inputEmail') Email
    .col-lg-10
        input#inputEmail.form-control(type='text', placeholder='Email')
    .form-group.has-error
    label.col-lg-2.control-label(for='inputEmail') Email
    .col-lg-10
        input#inputEmail.form-control(type='text', placeholder='Email')
    .form-group.has-success
    label.col-lg-2.control-label(for='inputEmail') Email
    .col-lg-10
        input#inputEmail.form-control(type='text', placeholder='Email')
    .form-group
    label.col-lg-2.control-label(for='inputPassword') Password
    .col-lg-10
        input#inputPassword.form-control(type='password', placeholder='Password')
        .checkbox
        label
            input(type='checkbox')
            | Remember me
        button.btn.btn-default(type='submit') Sign in
.row
.col-lg-6
    #buttons.panel.panel-default
    .panel-heading
        | Buttons
    p
        // Standard gray button with gradient
        button.btn.btn-default(type='button') Default
        // Provides extra visual weight and identifies the primary action in a set of buttons
        button.btn.btn-primary(type='button') Primary
        // Indicates a successful or positive action
        button.btn.btn-success(type='button') Success
        // Contextual button for informational alert messages
        button.btn.btn-info(type='button') Info
        // Indicates caution should be taken with this action
        button.btn.btn-warning(type='button') Warning
        // Indicates a dangerous or potentially negative action
        button.btn.btn-danger(type='button') Danger
        // Deemphasize a button by making it look like a link while maintaining button behavior
        button.btn.btn-link(type='button') Link
    p
        button.btn.btn-primary.btn-large(type='button') Large button
        button.btn.btn-primary.disabled(type='button') Disabled
        button.btn.btn-primary(type='button') Default button
        button.btn.btn-primary.btn-small(type='button') Small button
        button.btn.btn-primary.btn-mini(type='button') Mini button
.col-lg-6
    #images.panel.panel-default
    .panel-heading
        | Images
    p
        img.img-rounded(src='http://placehold.it/120x100')
        img.img-circle(src='http://placehold.it/120x100')
        img.img-thumbnail(src='http://placehold.it/120x100')
.row
.col-lg-3
    #dropdowns.panel.panel-default.clearfix
    .panel-heading
        | Dropdowns
    p
    .dropdown
        // Link or button to toggle dropdown
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu', style='display: block; position: static;')
        li.dropdown-header Dropdown header
        li.disabled
            a(tabindex='-1', href='#') Action
        li
            a(tabindex='-1', href='#') Another action
        li
            a(tabindex='-1', href='#') Something else here
        li.divider
        li
            a(tabindex='-1', href='#') Separated link
    p
.col-lg-9
    #input-groups.panel.panel-default
    .panel-heading
        | Input Groups
    p
    .input-group
        span.input-group-btn
        button.btn.btn-default(type='button') Go!
        input.form-control(type='text', placeholder='Username')
    p
    p
    .input-group
        input.form-control.input-large(type='text')
        span.input-group-addon.input-large .00
    p
    p
    .input-group
        span.input-group-addon $
        input.form-control(type='text')
        span.input-group-addon .00
    p
.row
.col-lg-6
    #navs.panel.panel-default
    .panel-heading
        | Navs
    p
    ul.nav.nav-tabs
        li.active
        a(href='#') Home
        li
        a(href='#') About
    p
    p
    ul.nav.nav-pills
        li.active
        a(href='#') Home
        li
        a(href='#') About
    p
    p
    ul.nav.nav-stacked.nav-pills
        li.active
        a(href='#') Home
        li
        a(href='#') About
    p
#navbar.col-lg-6
    .panel.panel-default
    .panel-heading
        | Navbar
    p
    .navbar
        a.navbar-brand(href='#') Your Company
        ul.nav.navbar-nav
        li.active
            a(href='#') Home
        li
            a(href='#') About
        li
            a(href='#') Contact
    .navbar.navbar-inverse
        a.navbar-brand(href='#') Your Company
        ul.nav.navbar-nav
        li.active
            a(href='#') Home
        li
            a(href='#') About
        li
            a(href='#') Contact
    .navbar
        a.btn.btn-primary.navbar-btn Navbar Button
        p.navbar-text.pull-right Navbar Text
    p
.row
.col-lg-6
    #pagination.panel.panel-default
    .panel-heading
        | Pagination
    ul.pagination(style='margin-right: 10px;')
        li
        a(href='#') Prev
        li
        a(href='#') 1
        li
        a(href='#') 2
        li
        a(href='#') 3
        li
        a(href='#') 4
        li
        a(href='#') Next
    ul.pagination.pagination-large
        li
        a(href='#') Prev
        li
        a(href='#') 1
        li
        a(href='#') 2
        li
        a(href='#') 3
        li
        a(href='#') 4
        li
        a(href='#') Next
    ul.pager
        li
        a(href='#') Prev
        li
        a(href='#') Next
    #labels.panel.panel-default
    .panel-heading
        | Labels and Badges
    h3
        span.label Default
        span.label.label-success Success
        span.label.label-warning Warning
        span.label.label-danger Danger
        span.label.label-info Info
    p.lead
        a(href='#')
        | Inbox 
        span.badge 42
.col-lg-6
    #alerts.panel.panel-default
    .panel-heading
        | Alerts
    div
        .alert.alert-danger
        button.close(type='button', data-dismiss='alert') ×
        strong Oh snap!
        a.alert-link(href='#') Change a few things up
        |  and try submitting again.
        .alert.alert-success
        button.close(type='button', data-dismiss='alert') ×
        strong Well done!
        |  You successfully read 
        a.alert-link(href='#') this important alert message
        | .
        .alert.alert-warning
        button.close(type='button', data-dismiss='alert') ×
        strong Heads up!
        |  This 
        a.alert-link(href='#') alert needs your attention
        | , but it's not super important.
        .alert.alert-info
        button.close(type='button', data-dismiss='alert') ×
        strong Heads up!
        |  This 
        a.alert-link(href='#') alert needs your attention
        | , but it's not super important.
        .alert.alert-block
        button.close(type='button', data-dismiss='alert') ×
        h4 Warning!
        p This is a block style alert.
.row
.col-lg-6
    #progress.panel.panel-default
    .panel-heading
        | Progress Bars
    .progress
        .progress-bar.progress-bar-info(style='width: 20%')
    .progress.progress-striped.active
        .progress-bar.progress-bar-success
    .progress
        .progress-bar.progress-bar-warning(style='width: 60%')
    .progress
        .progress-bar.progress-bar-danger(style='width: 80%')
.col-lg-6
    #media-object.panel.panel-default
    .panel-heading
        | Media Object
    p
    .media
        a.pull-left(href='#')
        img.media-object(src='https://app.divshot.com/img/placeholder-64x64.gif')
        .media-body
        h4.media-heading Media heading
        p This is the content for your media.
        .media
            a.pull-left(href='#')
            img.media-object(src='https://app.divshot.com/img/placeholder-64x64.gif')
            .media-body
            h4.media-heading Media heading
            p This is the content for your media.
#list-groups.panel.panel-default
.panel-heading
    | List Groups
.row
    .col-lg-4
    ul.list-group
        li.list-group-item Cras justo odio
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Morbi leo risus
        li.list-group-item Porta ac consectetur ac
        li.list-group-item Vestibulum at eros
    .col-lg-4
    .list-group
        a.list-group-item.active(href='#')           Cras justo odio        
        a.list-group-item(href='#') Dapibus ac facilisis in        
        a.list-group-item(href='#') Morbi leo risus        
        a.list-group-item(href='#') Porta ac consectetur ac        
        a.list-group-item(href='#') Vestibulum at eros        
    .col-lg-4
    .list-group
        a.list-group-item.active(href='#')
        h4.list-group-item-heading List group item heading
        p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        a.list-group-item(href='#')
        h4.list-group-item-heading List group item heading
        p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        a.list-group-item(href='#')
        h4.list-group-item-heading List group item heading
        p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
.row
.col-lg-3
    #panels.panel.panel-primary
    .panel-heading
        | This is a header
    p This is a panel
    .panel-footer
        | This is a footer
.col-lg-3
    .panel.panel-success
    .panel-heading
        | This is a header
    p This is a panel
    .panel-footer
        | This is a footer
.col-lg-3
    .panel.panel-danger
    .panel-heading
        | This is a header
    p This is a panel
    .panel-footer
        | This is a footer
.col-lg-3
    .panel.panel-warning
    .panel-heading
        | This is a header
    p This is a panel
    .panel-footer
        | This is a footer
.row
.col-lg-3
    .panel.panel-info
    .panel-heading
        | This is a header
    p This is a panel
    .panel-footer
        | This is a footer
.col-lg-3
    .panel.panel-default
    .panel-heading
        | This is a header
    p This is a panel
    ul.list-group.list-group-flush
        li.list-group-item First Item
        li.list-group-item Second Item
        li.list-group-item Third Item
    .panel-footer
        | This is a footer
.col-lg-3
    #wells.well
    | Default Well
    .well.well-small
    | Small Well
.col-lg-3
    .well.well-large
    | Large Padding Well
.container
.row
.panel.panel-info
    .panel-heading
    h3.text-center
        | Bootstrap 3.0. v. themes with example templates
    .row
    .col-lg-4
        .thumbnail
        img(alt='', src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/34/34129/snapshot5-f.png?1377000996')
        .caption
            h4.text-center Bootstrap 3.0. v. theme Classic Plus
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/10479-Bootstrap-3.0.-v.-theme-Classic-Plus', title='Bootstrap 3 themes') Live demo & Info
    .col-lg-4
        .thumbnail
        img(alt='', src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/34/34054/snapshot2-f.jpg?1376960883')
        .caption
            h4.text-center Bootstrap v.3.0. theme Dark & Orange flat ui
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/10447-Bootstrap-v.3.0.-theme-flat-ui', title='Bootstrap 3 themes') Live demo & Info
    .col-lg-4
        .thumbnail
        img(src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/34/34105/snapshot-f.png?1376992484', alt='34105', draggable='false')
        .caption
            h4.text-center Bootstrap 3.0. RC2 theme white-blue
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/10341-Bootstrap-3.0.-RC2-theme-white-blue', title='Bootstrap 3 themes') Live demo & Info
    .row
    .col-lg-4.clearfix
        .thumbnail
        img(alt='', src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/33/33670/snapshot-f.png?1377000377')
        .caption
            h4.text-center Bootstrap 3.0.! theme GlossyFlat
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/10296-Bootstrap-3.0.%21-theme-GlossyFlat', title='Bootstrap 3 themes') Live demo & Info
    .col-lg-4
        .thumbnail
        img(src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/32/32858/snapshot-f.png?1376959827', alt='32858', draggable='false')
        .caption
            h4.text-center Bootstrap 3.0. theme DRON dark UI
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/10073-Bootstrap-3.0.-theme-DRON-dark-UI', title='Bootstrap 3 themes') Live demo & Info
    .col-lg-4
        .thumbnail
        img(alt='', src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/32/32326/snapshot-f.png?1376958971')
        .caption
            h4.text-center Bootstrap 3.0.v. theme Flat Dark UI
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/9945-Bootstrap-3.0.v.-theme-Flat-Dark-UI', title='Bootstrap 3 themes') Live demo & Info
    .row
    .col-lg-4
        .thumbnail
        img(alt='', src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/31/31719/snapshot-f.png?1375807546')
        .caption
            h4.text-center FLATSCROLLER Bootstrap 3.0. landing page template
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/9773-FLATSCROLLER-Bootstrap-3.0.-landing', title='Bootstrap 3 themes') Live demo & Info
    .col-lg-4
        .thumbnail
        img(alt='', src='https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/32/32140/snapshot-f.png?1376729057')
        .caption
            h4.text-center PARALLAXER Bootstrap 3.0. responsive
            p
            a.btn.btn-block.btn-danger.btn-large(href='https://creativemarket.com/artlabs/9909-PARALLAXER-Bootstrap-3.0.-responsive', title='Bootstrap 3 themes') Live demo & Info
    .col-lg-4
        .thumbnail
        img(width='336', height='313', alt='', src='http://mightydeals.s3.amazonaws.com/teaser-images/1189/Bootstraptor.jpg')
        .caption
            h4.text-center 10 Premium Responsive Bootstrap Templates - only $10!
            p
            a.btn.btn-block.btn-danger.btn-large(href='http://www.mightydeals.com/deal/bootstraptor-templates.html', title='Bootstrap 3 themes') SAVE 75% NOW!
