.container-fluid
  .container.logged-container
    .row
      .col-lg-5
        .media.patients
          a.pull-left(href='#')
            img.media-object.dp.img-circle(src='assets/img/avatar/old.jpg')
          .media-body
            h4.media-heading
              | Hardik Sondagar 
              small  India
            h5
              | Software Developer at 
              a(href='http://gridle.in') Gridle.in
            hr(style='margin:8px auto')
            span.label.label-default HTML5/CSS3
            span.label.label-default jQuery
            span.label.label-info CakePHP
            span.label.label-default Android  
      .col-lg-5
        .media.patients
          a.pull-left(href='#')
            img.media-object.dp.img-circle(src='assets/img/avatar/old.jpg')
          .media-body
            h4.media-heading
              | Hardik Sondagar 
              small  India
            h5
              | Software Developer at 
              a(href='http://gridle.in') Gridle.in
            hr(style='margin:8px auto')
            span.label.label-default HTML5/CSS3
            span.label.label-default jQuery
            span.label.label-info CakePHP
            span.label.label-default Android

    